#tutorial-recipient-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

#tutorial-recipient-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#tutorial-recipient-nav-buttons {
  display: flex;
  gap: 10px;
}

#tutorial-recipient-nav-button {
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  background: #8ecee4;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

#tutorial-recipient-nav-button.active {
  background: #45acd0;
}

#tutorial-recipient-nav-button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#tutorial-recipient-content {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

#tutorial-recipient-title {
  font-size: 24px;
  color: #333;
  margin: 0 0 15px 0;
  text-align: center;
}

#tutorial-recipient-content h2 {
  font-size: 20px;
  color: #333;
  margin: 0 0 15px 0;
  text-align: center;
}

#tutorial-recipient-content h3 {
  font-size: 16px;
  color: #333;
  margin: 30px 0 10px 0;
}

.tutorial-section-content p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin: 0 0 10px 0;
}

.tutorial-section-content ul {
  margin: 0;
  padding-left: 20px;
}

.tutorial-section-content li {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 5px;
}

.tutorial-section-content img {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
}


.tutorial-section-content img[alt="Manage Subscriptions"] {
    max-width: 500px;
}
.tutorial-section-content img[alt="Contact Pantry"] {
  max-width: 600px;
}

.tutorial-section-content img[alt="Feed U Pantry Bread"] {
  margin-top: 80px;
}

.tutorial-section-content img[alt="Request Blank"] {
  max-width: 500px;
}
.tutorial-section-content img[alt="Request Pasta"] {
  max-width: 1000px;
}
.tutorial-section-content img[alt="Contact Pantry Staff"] {
  margin-top: 80px;
} 
#tutorial-recipient-tips,
#tutorial-recipient-help {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.tutorial-section-content a {
  color: #45acd0;
  text-decoration: none;
}

.tutorial-section-content a:hover {
  opacity: 0.8;
}

#tutorial-recipient-use-cases {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
