.report-container {
  max-width: 1400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;

}

.report-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

#item-filter-select,
#date-range-picker {
  width: 100%;
}

.filters label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.table-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-container,
.chart-container {
  width: 48%;
  padding: 10px;
}

.table-container .ant-table-wrapper,
.chart-container .recharts-responsive-container {
  background-color: white;
}

.table-container h4,
.chart-container h4 {
  text-align: center;
  margin-bottom: 15px;
}

.custom-tooltip {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20%;
}

.custom-tooltip .label {
  font-weight: bold;
}

.action-icon {
  cursor: pointer;
  font-size: 16px;
}

.complete-icon {
  color: #8ad142;
}

.delete-icon:hover {
  color: #ff7875;
}

.ant-table-tbody>tr:hover .action-icon {
  opacity: 0.8;
}

.ant-table-tbody>tr:hover .complete-icon {
  color: #8ad142;
}

#request-report-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

#request-report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.request-report-header-left {
  display: flex;
  align-items: center;
}

.request-report-header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.request-report-header-right .ant-space {
  display: flex;
  align-items: center;
}

#request-report-content {
  display: flex;
  gap: 20px;
}

#request-report-barchart-container {
  flex: 0.8;
  min-width: 350px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin-top: 14px;

  position: relative;
}

#request-report-table-container {
  flex: 1.2;
  min-width: 600px;
}


.request-report-tooltip {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.request-report-tooltip p {
  margin: 4px 0;
}


.request-report-header-right .ant-checkbox-wrapper {
  margin-left: 8px;
}

.request-report-header-left .ant-space {
  gap: 8px;
}

.request-report-header-right .ant-btn {
  min-width: 110px;
  max-width: 120px;
  height: 30px;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}